In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

In [2]:
plt.style.use('ggplot')

In [3]:
%matplotlib inline

In [106]:
df = pd.read_csv(os.getcwd() + '/listings.csv')

FileNotFoundError: File b'/media/gr4vy/files/ml/ml_blueprints/apartments/listings.csv' does not exist

In [67]:
df.columns

Index(['price', 'beds', 'city', 'state', 'baths'], dtype='object')

In [68]:
df.rename(columns={'price':'rent'}, inplace=True)

In [69]:
df.columns

Index(['rent', 'beds', 'city', 'state', 'baths'], dtype='object')

In [70]:
df.loc[:,'beds'] = df['beds'].map(lambda x: 0 if 'Studio' in x else x)

In [71]:
df = df.dropna()

In [77]:
df = df.drop(df[pd.to_numeric(df.rent, errors='coerce').isnull()].index)

In [90]:
df.reset_index(drop=True, inplace=True)

In [97]:
df.loc[:,'beds'] = df['beds'].map(lambda x: float(x))

In [101]:
df.loc[:,'rent'] = df.loc[:,'rent'].astype(int)
df.loc[:,'beds'] = df.loc[:,'beds'].astype(int)

In [103]:
df.describe()

               rent        beds       baths
count    417.000000  417.000000  417.000000
mean    4910.333333    1.649880    1.529976
std     3022.495246    1.197837    0.808422
min     1450.000000    0.000000    0.000000
25%     3198.000000    1.000000    1.000000
50%     4150.000000    2.000000    1.000000
75%     5600.000000    2.000000    2.000000
max    25000.000000    6.000000    6.000000

In [105]:
df.pivot_table('rent', 'beds', 'baths', aggfunc='count')

baths  0.0    1.0   2.0   3.0  4.0  5.0  6.0
beds
0      2.0   67.0   NaN   NaN  NaN  NaN  NaN
1      NaN  123.0  14.0   NaN  NaN  NaN  NaN
2      NaN   49.0  64.0   9.0  NaN  NaN  NaN
3      NaN   12.0  28.0  18.0  3.0  NaN  NaN
4      NaN    3.0   4.0   7.0  2.0  1.0  NaN
5      NaN    1.0   1.0   5.0  2.0  1.0  NaN
6      NaN    NaN   NaN   NaN  NaN  NaN  1.0